/* css custom properties -> "css kintamieji" */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
* {
    box-sizing: border-box;
}
/*
--main-red: #9b1010;
background-color: var(--main-red);
*/
body {
    font-family: Roboto;
    color: #333;
}
.container {
    --w: 800px;
    width: var(--w);
    margin: 40px calc((100% - var(--w)) / 2) 0;
    /*margin-left: calc(50% - 400px); */
    display: inline-block;
}
.logo {
    float: left;
    height: 40px;
}
/* 
background-color: #ff000080;
    background-color: rgba(255, 0, 0, 0.5); paskutinis skaicius rodo permatomuma
WEBP < JPG < PNG
JPG:rgb
PNG:rgba
WEBP:rgba
*/

.main-nav {
    float: right;
}
.nav-link {
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin-left: 30px;
    cursor: pointer;
}
.nav-link:first-child {
    margin-left: 0;
}
.nav-link:hover {
    text-decoration: underline;
    color: #000;
}

.left-column {
    width: 40%;
    float: left;
    margin-top: 25px;
}
.main-title {
    font-size: 60px;
    margin: 0;
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
}

.sub-title {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}
main:hover > div > p:nth-of-type(2) {
    color: red;
}
.description {
    color: #555;
}
.line {
    width: 100px;
    height: 3px;
    background-color: #649;
}

.btn-group {
    display: inline-block;
}
.btn {
    float: left;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #649;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #649;
    user-select: none;
    box-shadow: 0px 4px 8px 0px #0006;
}
.btn.btn-white {
    color: #333;
    background-color: #fff;
}

.btn:hover {
    box-shadow: 0px 6px 12px 0px #0008;
    color: red;
    border-radius: 0;
}
.right-column {
    width: 60%;
    float: right;
}
footer {
    display: inline-block;
    margin-bottom: 20px;
}
.social-group {
    float: left;
}
.social-link {
    color: #333;
}
.social-link {
    font-size: 20px;
    color: #ccc;
    margin-right: 20px;
}
.social-link:last-child {
    margin-right: 0;
}
.copyright {
    margin: 0;
    float: right;
}
